trained_models filter=lfs diff=lfs merge=lfs -text
trained_models/my_faster_rcnn_model/checkpoint filter=lfs diff=lfs merge=lfs -text
trained_models/my_faster_rcnn_model/pipeline.config filter=lfs diff=lfs merge=lfs -text
trained_models/my_faster_rcnn_model/saved_model filter=lfs diff=lfs merge=lfs -text
trained_models/my_faster_rcnn_resnet50_1024x1024_multiclass_steps6k/checkpoint filter=lfs diff=lfs merge=lfs -text
trained_models/my_faster_rcnn_resnet50_1024x1024_multiclass_steps6k/saved_model filter=lfs diff=lfs merge=lfs -text
trained_models/my_faster_rcnn_resnet50_1024x1024_multiclass_steps6k/checkpoint/ckpt-0.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
trained_models/my_faster_rcnn_resnet50_1024x1024_multiclass_steps6k/checkpoint/ckpt-0.index filter=lfs diff=lfs merge=lfs -text
trained_models/my_faster_rcnn_model/checkpoint/checkpoint filter=lfs diff=lfs merge=lfs -text
trained_models/my_faster_rcnn_model/checkpoint/ckpt-0.index filter=lfs diff=lfs merge=lfs -text
trained_models/my_faster_rcnn_model/saved_model/variables filter=lfs diff=lfs merge=lfs -text
trained_models/my_faster_rcnn_resnet50_1024x1024_multiclass_steps6k/checkpoint/checkpoint filter=lfs diff=lfs merge=lfs -text
trained_models/my_faster_rcnn_model/checkpoint/ckpt-0.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
trained_models/my_faster_rcnn_model/saved_model/assets filter=lfs diff=lfs merge=lfs -text
trained_models/my_faster_rcnn_model/saved_model/saved_model.pb filter=lfs diff=lfs merge=lfs -text
trained_models/my_faster_rcnn_resnet50_1024x1024_multiclass_steps6k/saved_model/assets filter=lfs diff=lfs merge=lfs -text
trained_models/my_faster_rcnn_model/saved_model/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
trained_models/my_faster_rcnn_model/saved_model/variables/variables.index filter=lfs diff=lfs merge=lfs -text
trained_models/*/*/*/*/* filter=lfs diff=lfs merge=lfs -text
trained_models/my_faster_rcnn_model filter=lfs diff=lfs merge=lfs -text
trained_models/my_faster_rcnn_resnet50_1024x1024_multiclass_steps6k filter=lfs diff=lfs merge=lfs -text
